
<div class="container-fluid mt-1">
  
  <div *ngFor="let mes of dados">
    
    <div class="mt-5 p-1" id="{{ mes.ano.toString() + mes.mes.toString() }}">
      <h5>
        {{ mes.nomeMes + ' de ' + mes.ano }}
      </h5>
    </div>
    
    <table class="table table-bordered mt-1">
      <tr style="background-color: rgb(230, 228, 228);">
        <td class="p-1">Domingo</td>
        <td class="p-1">Segunda</td>
        <td class="p-1">Terça</td>
        <td class="p-1">Quarta</td>
        <td class="p-1">Quinta</td>
        <td class="p-1">Sexta</td>
        <td class="p-1">Sabado</td>
      </tr>
      <tr *ngFor="let semana of getSemanas()">
        
        <td class="dia" *ngFor="let dia of getDiasNaoTem(mes, semana)">
        </td>
        
        <td class="dia" *ngFor="let dia of getDiasDaSemana(mes, semana)" (click)="incluirEvento(dia, mes.mes, mes.ano)">
          
          <div class="text-right mb-1" *ngIf="dia >= 0">
            {{ dia }}
          </div>
          
          <div class="border rounded p-1 bg-danger text-white" (click)="alterarEvento()" *ngFor="let evento of getCompromissos(mes, dia)">
            {{ evento.titulo }}
          </div>
          
        </td>
        
      </tr>
    </table>
    
  </div>
  
</div>
